<!DOCTYPE html>

@{ 
    String nombre;
    String descripcion;
    String lugarSalida;
    String lugarLlegada;
    String recorrido;
    DateTime fechaHora;
    int costo;
    int campeonato;
}
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h5>Ingrese los datos de la carrera a continuación:</h5>
        <h5>Nombre: <textarea></textarea></h5>
        <h5>Descripción: <textarea></textarea></h5>
        <h5>Lugar de salida: </h5>
        <h5>Lugar de llegada: </h5>
        <h5>Recorrido: </h5>
        <h5>Fecha y hora: </h5>
        <h5>Costo: </h5>
        <h5>Campeonato: </h5>
    </body>
</html>
