<!DOCTYPE html>

@{ 
    String nombre;
    DateTime fechaInicio;
    DateTime fechaFin;
}

<html>
    <head>
        <title></title>
    </head>
    <body>
        <h5>Por favor ingrese los datos del campeonato: </h5>
        <h5>Nombre: <textarea></textarea></h5>
        <h5>Fecha de inicio del campeonato: <textarea></textarea></h5>
        <h5>Fecha fin del campeonato: <textarea></textarea></h5>
    </body>
</html>
