<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h5>Ingrese los datos de la carrera a continuación:</h5>
        <h5>Nombre: <textarea></textarea></h5>
        <h5>Descripción: <textarea></textarea></h5>
        <h5>Fecha de la carrera: <textarea></textarea></h5>
    </body>
</html>
