<!DOCTYPE html>
<html>
    <head>
        <title>Campeonato Atletismo 2015</title>
    </head>

    <body>
        
        <header><h1>Campeonato Atletismo</h1></header>

        <nav>
            <h3>Inscripción de corredores: <a href="~/inscripcionCorredor.cshtml">~/inscripcionCorredor.cshtml</a></h3>
            <h3>Registro de sanciones:<a href="~/registroSancion.cshtml">~/registroSancion.cshtml</a></h3>
            <h3>Creación de campeonato:<a href="~/creacionCampeonato.cshtml">~/creacionCampeonato.cshtml</a> </h3>
            <h3>Creación de una carrera:<a href="~/creacionCarrera.cshtml">~/creacionCarrera.cshtml</a></h3>
        </nav>

    </body>

</html>
