<!DOCTYPE html>

@{ 
    int identificacion;
    String nombre;
    String alias;
    String email;
    String genero;
    DateTime fechaNacimiento;
}

<html>
    <head>
        <title>Inscripción de Corredores</title>
    </head>

    <body>
        <h1>¡Bienvenido!</h1>

        <h3>Por favor ingrese sus datos a continuación: </h3>
        <h5>Nombre completo: <textarea></textarea></h5>
        <h5>Alias: </h5>
        <h5>Correo electrónico: <textarea></textarea></h5>
        <h5>Género: <select>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select></h5>
    </body>

</html>