<!DOCTYPE html>
<html>
    <head>
        <title>Registro de Sanciones</title>
    </head>
    <body>
        <h1>¡Bienvenido!</h1>

        <h3>Por favor ingrese los datos de la sanción que desea registrar a continuación: </h3>
        <h5>Puntos: <textarea></textarea></h5>
    </body>
</html>
