<!DOCTYPE html>
<html>
    <head>
        <link href="~/style.css" rel="stylesheet" />
        <title>Campeonato Atletismo 2015</title>
    </head>

    <body>

        <div id="contenedor">

            <div id="encabezado">

                <h1>Campeonato Atletismo 2015</h1>

            </div>
            
            <div id="contenido">

                <div id="navegacion">

                    <p><button>Home</button>    <button>Corredores</button> <button>Ranking General</button>    <button>Carreras</button></p>

                </div>

                <div id="principal">

                </div>

            </div>

        </div>
        
    </body>

</html>
