body {

}

#contenedor{
    background-color: #000;
}

#encabezado{
    background-color: #808080;
    color: aquamarine;
    text-align: center;
}

#contenido{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#navegacion{

}

#principal{

}

#piePagina{

}