USE [ExamWeb]
GO
/****** Object:  StoredProcedure [dbo].[Ins_Usuario]    Script Date: 05/29/2012 18:05:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Ins_Registro
(
	@cnombralum VarChar (300), 
    @cseccion VarChar (80),
    @cidpregun1 VarChar (80),
    @cresultad1 VarChar ,
    @cidpregun2 VarChar (80), 
    @cresultad2 VarChar (80), 
    @cidpregun3 VarChar (80), 
    @cresultad3 VarChar (80),
    @cidpregun4 VarChar (80), 
    @cresultad4 VarChar (80),
    @cidpregun5 VarChar (80), 
    @cresultad5 VarChar (80), 
    @cidpregun6 VarChar (80), 
    @cresultad6 VarChar (80), 
    @cidpregun7 VarChar (80), 
    @cresultad7 VarChar (80), 
    @cidpregun8 VarChar (80), 
    @cresultad8 VarChar (80), 
    @cidpregun9 VarChar (80), 
    @cresultad9 VarChar (80), 
    @cidpregun10 VarChar (80), 
    @cresultad10 VarChar (80), 
    @cidpregun11 VarChar (80), 
    @cresultad11 VarChar (80), 
    @cidpregun12 VarChar (80), 
    @cresultad12 VarChar (80), 
    @cidpregun13 VarChar (80), 
    @cresultad13 VarChar (80),
    @cidpregun14 VarChar (80),
    @cresultad14 VarChar (80),
    @cidpregun15 VarChar (80), 
    @cresultad15 VarChar (80), 
    @cidpregun16 VarChar (80), 
    @cresultad16 VarChar (80), 
    @cidpregun17 VarChar (80),
    @cresultad17 VarChar (80),
    @cidpregun18 VarChar (80), 
    @cresultad18 VarChar (80), 
    @cidpregun19 VarChar (80), 
    @cresultad19 VarChar (80),
    @cidpregun20 VarChar (80), 
    @cresultad20 VarChar (80), 
    @cidpregun21 VarChar (80), 
    @cresultad21 VarChar (80), 
    @cidpregun22 VarChar (80), 
    @cresultad22 VarChar (80), 
    @cidpregun23 VarChar (80),
    @cresultad23 VarChar (80),
    @cidpregun24 VarChar (80),
    @cresultad24 VarChar (80),
    @cidpregun25 VarChar (80), 
    @cresultad25 VarChar (80),
    @cidpregun26 VarChar (80), 
    @cresultad26 VarChar (80), 
    @cidpregun27 VarChar (80), 
    @cresultad27 VarChar (80), 
    @cidpregun28 VarChar (80), 
    @cresultad28 VarChar (80), 
    @cidpregun29 VarChar (80), 
    @cresultad29 VarChar (80), 
    @cidpregun30 VarChar (80), 
    @cresultad30 VarChar (80), 
    @cidpregun31 VarChar (80), 
    @cresultad31 VarChar (80), 
    @cidpregun32 VarChar (80), 
    @cresultad32 VarChar (80), 
    @cidpregun33 VarChar (80), 
    @cresultad33 VarChar (80), 
    @cidpregun34 VarChar (80), 
    @cresultad34 VarChar (80),
    @cidpregun35 VarChar (80), 
    @cresultad35 VarChar (80), 
    @cidpregun36 VarChar (80), 
    @cresultad36 VarChar (80),
    @cidpregun37 VarChar (80),
    @cresultad37 VarChar (80),
    @cidpregun38 VarChar (80), 
    @cresultad38 VarChar (80), 
    @cidpregun39 VarChar (80), 
    @cresultad39 VarChar (80), 
    @cidpregun40 VarChar (80), 
    @cresultad40 VarChar (80), 
    @cidpregun41 VarChar (80), 
    @cresultad41 VarChar (80), 
    @cidpregun42 VarChar (80), 
    @cresultad42 VarChar (80), 
    @cidpregun43 VarChar (80), 
    @cresultad43 VarChar (80), 
    @cidpregun44 VarChar (80), 
    @cresultad44 VarChar (80), 
    @cidpregun45 VarChar (80), 
    @cresultad45 VarChar (80), 
    @cidpregun46 VarChar (80), 
    @cresultad46 VarChar (80), 
    @cidpregun47 VarChar (80), 
    @cresultad47 VarChar (80), 
    @cidpregun48 VarChar (80), 
    @cresultad48 VarChar (80),
    @cidpregun49 VarChar (80), 
    @cresultad49 VarChar (80), 
    @cidpregun50 VarChar (80), 
    @cresultad50 VarChar (80), 
    @cidpregun51 VarChar (80), 
    @cresultad51 VarChar (80), 
    @cidpregun52 VarChar (80), 
    @cresultad52 VarChar (80), 
    @cidpregun53 VarChar (80), 
    @cresultad53 VarChar (80), 
    @cidpregun54 VarChar (80), 
    @cresultad54 VarChar (80), 
    @cidpregun55 VarChar (80),
    @cresultad55 VarChar (80), 
    @cidpregun56 VarChar (80), 
    @cresultad56 VarChar (80), 
    @cidpregun57 VarChar (80), 
    @cresultad57 VarChar (80), 
    @cidpregun58 VarChar (80), 
    @cresultad58 VarChar (80), 
    @cidpregun59 VarChar (80), 
    @cresultad59 VarChar (80), 
    @cidpregun60 VarChar (80), 
    @cresultad60 VarChar (80), 
    @cidpregun61 VarChar (80), 
    @cresultad61 VarChar (80), 
    @cidpregun62 VarChar (80), 
    @cresultad62 VarChar (80), 
    @cidpregun63 VarChar (80), 
    @cresultad63 VarChar (80),
    @cidpregun64 VarChar (80), 
    @cresultad64 VarChar (80), 
    @cidpregun65 VarChar (80), 
    @cresultad65 VarChar (80), 
    @cidpregun66 VarChar (80), 
    @cresultad66 VarChar (80), 
    @cidpregun67 VarChar (80), 
    @cresultad67 VarChar (80), 
    @cidpregun68 VarChar (80), 
    @cresultad68 VarChar (80), 
    @cidpregun69 VarChar (80), 
    @cresultad69 VarChar (80), 
    @cidpregun70 VarChar (80), 
    @cresultad70 VarChar (80), 
    @cidpregun71 VarChar (80), 
    @cresultad71 VarChar (80), 
    @cidpregun72 VarChar (80), 
    @cresultad72 VarChar (80), 
    @cidpregun73 VarChar (80), 
    @cresultad73 VarChar (80), 
    @cidpregun74 VarChar (80),
    @cresultad74 VarChar (80), 
    @cidpregun75 VarChar (80), 
    @cresultad75 VarChar (80) 
) 
AS INSERT INTO registresp
(
	cnombralum, 
     cseccion,
     cidpregun1,
     cresultad1,
     cidpregun2, 
     cresultad2, 
     cidpregun3, 
     cresultad3,
     cidpregun4, 
     cresultad4,
     cidpregun5, 
     cresultad5, 
     cidpregun6, 
     cresultad6, 
     cidpregun7, 
     cresultad7, 
     cidpregun8, 
     cresultad8, 
     cidpregun9, 
     cresultad9, 
     cidpregun10, 
     cresultad10, 
     cidpregun11, 
     cresultad11, 
     cidpregun12, 
     cresultad12, 
     cidpregun13, 
     cresultad13,
     cidpregun14,
     cresultad14,
     cidpregun15, 
     cresultad15, 
     cidpregun16, 
     cresultad16, 
     cidpregun17,
     cresultad17,
     cidpregun18, 
     cresultad18, 
     cidpregun19, 
     cresultad19,
     cidpregun20, 
     cresultad20, 
     cidpregun21, 
     cresultad21, 
     cidpregun22, 
     cresultad22, 
     cidpregun23,
     cresultad23,
     cidpregun24,
     cresultad24,
     cidpregun25, 
     cresultad25,
     cidpregun26, 
     cresultad26, 
     cidpregun27, 
     cresultad27, 
     cidpregun28, 
     cresultad28, 
     cidpregun29, 
     cresultad29, 
     cidpregun30, 
     cresultad30, 
     cidpregun31, 
     cresultad31, 
     cidpregun32, 
     cresultad32, 
     cidpregun33, 
     cresultad33, 
     cidpregun34, 
     cresultad34,
     cidpregun35, 
     cresultad35, 
     cidpregun36, 
     cresultad36,
     cidpregun37,
     cresultad37,
     cidpregun38, 
     cresultad38, 
     cidpregun39, 
     cresultad39, 
     cidpregun40, 
     cresultad40, 
     cidpregun41, 
     cresultad41, 
     cidpregun42, 
     cresultad42, 
     cidpregun43, 
     cresultad43, 
     cidpregun44, 
     cresultad44, 
     cidpregun45, 
     cresultad45, 
     cidpregun46, 
     cresultad46, 
     cidpregun47, 
     cresultad47, 
     cidpregun48, 
     cresultad48,
     cidpregun49, 
     cresultad49, 
     cidpregun50, 
     cresultad50, 
     cidpregun51, 
     cresultad51, 
     cidpregun52, 
     cresultad52, 
     cidpregun53, 
     cresultad53, 
     cidpregun54, 
     cresultad54, 
     cidpregun55,
     cresultad55, 
     cidpregun56, 
     cresultad56, 
     cidpregun57, 
     cresultad57, 
     cidpregun58, 
     cresultad58, 
     cidpregun59, 
     cresultad59, 
     cidpregun60, 
     cresultad60, 
     cidpregun61, 
     cresultad61, 
     cidpregun62, 
     cresultad62, 
     cidpregun63, 
     cresultad63,
     cidpregun64, 
     cresultad64, 
     cidpregun65, 
     cresultad65, 
     cidpregun66, 
     cresultad66, 
     cidpregun67, 
     cresultad67, 
     cidpregun68, 
     cresultad68, 
     cidpregun69, 
     cresultad69, 
     cidpregun70, 
     cresultad70, 
     cidpregun71, 
     cresultad71, 
     cidpregun72, 
     cresultad72, 
     cidpregun73, 
     cresultad73, 
     cidpregun74,
     cresultad74, 
     cidpregun75, 
     cresultad75  
)
VALUES
(
	@cnombralum, 
    @cseccion,
    @cidpregun1,
    @cresultad1 ,
    @cidpregun2, 
    @cresultad2, 
    @cidpregun3, 
    @cresultad3,
    @cidpregun4, 
    @cresultad4,
    @cidpregun5, 
    @cresultad5, 
    @cidpregun6, 
    @cresultad6, 
    @cidpregun7, 
    @cresultad7, 
    @cidpregun8, 
    @cresultad8, 
    @cidpregun9, 
    @cresultad9, 
    @cidpregun10, 
    @cresultad10, 
    @cidpregun11, 
    @cresultad11, 
    @cidpregun12, 
    @cresultad12, 
    @cidpregun13, 
    @cresultad13,
    @cidpregun14,
    @cresultad14,
    @cidpregun15, 
    @cresultad15, 
    @cidpregun16, 
    @cresultad16, 
    @cidpregun17,
    @cresultad17,
    @cidpregun18, 
    @cresultad18, 
    @cidpregun19, 
    @cresultad19,
    @cidpregun20, 
    @cresultad20, 
    @cidpregun21, 
    @cresultad21, 
    @cidpregun22, 
    @cresultad22, 
    @cidpregun23,
    @cresultad23,
    @cidpregun24,
    @cresultad24,
    @cidpregun25, 
    @cresultad25,
    @cidpregun26, 
    @cresultad26, 
    @cidpregun27, 
    @cresultad27, 
    @cidpregun28, 
    @cresultad28, 
    @cidpregun29, 
    @cresultad29, 
    @cidpregun30, 
    @cresultad30, 
    @cidpregun31, 
    @cresultad31, 
    @cidpregun32, 
    @cresultad32, 
    @cidpregun33, 
    @cresultad33, 
    @cidpregun34, 
    @cresultad34,
    @cidpregun35, 
    @cresultad35, 
    @cidpregun36, 
    @cresultad36,
    @cidpregun37,
    @cresultad37,
    @cidpregun38, 
    @cresultad38, 
    @cidpregun39, 
    @cresultad39, 
    @cidpregun40, 
    @cresultad40, 
    @cidpregun41, 
    @cresultad41, 
    @cidpregun42, 
    @cresultad42, 
    @cidpregun43, 
    @cresultad43, 
    @cidpregun44, 
    @cresultad44, 
    @cidpregun45, 
    @cresultad45, 
    @cidpregun46, 
    @cresultad46, 
    @cidpregun47, 
    @cresultad47, 
    @cidpregun48, 
    @cresultad48,
    @cidpregun49, 
    @cresultad49, 
    @cidpregun50, 
    @cresultad50, 
    @cidpregun51, 
    @cresultad51, 
    @cidpregun52, 
    @cresultad52, 
    @cidpregun53, 
    @cresultad53, 
    @cidpregun54, 
    @cresultad54, 
    @cidpregun55,
    @cresultad55, 
    @cidpregun56, 
    @cresultad56, 
    @cidpregun57, 
    @cresultad57, 
    @cidpregun58, 
    @cresultad58, 
    @cidpregun59, 
    @cresultad59, 
    @cidpregun60, 
    @cresultad60, 
    @cidpregun61, 
    @cresultad61, 
    @cidpregun62, 
    @cresultad62, 
    @cidpregun63, 
    @cresultad63,
    @cidpregun64, 
    @cresultad64, 
    @cidpregun65, 
    @cresultad65, 
    @cidpregun66, 
    @cresultad66, 
    @cidpregun67, 
    @cresultad67, 
    @cidpregun68, 
    @cresultad68, 
    @cidpregun69, 
    @cresultad69, 
    @cidpregun70, 
    @cresultad70, 
    @cidpregun71, 
    @cresultad71, 
    @cidpregun72, 
    @cresultad72, 
    @cidpregun73, 
    @cresultad73, 
    @cidpregun74,
    @cresultad74, 
    @cidpregun75, 
    @cresultad75  
)

